<%- include ('partials/header.ejs'); -%>


    <div class="container">
        <div class="form-row justify-content-between">
            <h1>Add New Row</h1>
            <div class="form-group col-md-1">
                <a href="/mytable" class="btn btn-primary btn-block">Back</a>
            </div>
        </div>

        <form class="add-account-form" method="POST" action="/verifynewrow">
            <% tableheader.forEach((header, index)=> { %>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="first-name">
                            <%= header.Field %>
                    </div>
                    <div class="form-group col-md-4">
                        <% if (header.Type=="varchar(50)" ) {%>
                            <input type="text" class="form-control" name="<%= header.Field %>" id="<%= header.Field %>"
                                placeholder="<%= header.Field %>" required>
                            <% } else if (header.Type=="varchar(51)" ) {%>
                                <input type="email" class="form-control" name="<%= header.Field %>"
                                    id="<%= header.Field %>" placeholder="<%= header.Field %>" required>
                                <% } else if (header.Type=="date" ) {%>
                                    <input type="date" class="form-control" name="<%= header.Field %>"
                                        id="<%= header.Field %>" placeholder="<%= header.Field %>" required>
                                    <% } else if (header.Type=="tinyint(1)" ) {%>
                                        <select id="<%= header.Field %>" name="<%= header.Field %>" class="form-control"
                                            placeholder="<%= header.Field %>" required>
                                            <option selected disabled>Choose Type</option>
                                            <option value="1">True</option>
                                            <option value="0">False</option>
                                        </select>
                                        <% } else if (header.Type=="bigint" ) {%>
                                            <input type="number" class="form-control" name="<%= header.Field %>"
                                                int="<%= header.Field %>" placeholder="<%= header.Field %>" required>
                                            <% } %>
                    </div>
                </div>
                <% }); %>
                    <input type="text" class="form-control " name="tablename" id="acnoi" value="<%= tname %>"
                        style="display: none;" hidden>
                    <input type="text" class="form-control " name="tableid" id="acnoi" value="<%= tid %>"
                        style="display: none;" hidden>
                    <input type="text" class="form-control " name="noc" id="acnoi" value="<%= tnoc %>"
                        style="display: none;" hidden>
                    <input type="text" class="form-control " name="pkey" id="acnoi" value="<%= tpkey %>"
                        style="display: none;" hidden>

                    <div class="form-row mb-md-4 justify-content-between">
                        <button type="reset" class="btn btn-primary float-left">Reset</button>
                        <button type="submit" class="btn btn-primary float-right" action>Add New Row</button>
                    </div>

        </form>
    </div>
    </div>
    <%- include ('partials/footer.ejs'); -%>
        </body>

        </html>