<%- include ('partials/header.ejs'); -%>
    <div class="container">
        <div class="form-row justify-content-between">
            <h1>Show All</h1>
            <div class="form-group col-md-1">
                <a href="/mytable" class="btn btn-primary btn-block">Back</a>
            </div>
        </div>
    </div>
    <div class="table-wrapper">
        <table class="table table-hovered showtable">
            <thead class="thead-dark">
                <tr>
                    <% tableheader.forEach((header, index)=> { %>
                        <th scope="col justify-content-between">
                            <%= header.Field %>
                        </th>
                        <% }) %>
                            <th scope="col">
                                Action
                            </th>
                </tr>
            </thead>
            <tbody>
                <% table.forEach((table, index)=> { %>
                    <tr>
                        <form class="form-group col-md-10" action="/edit" method="POST">
                            <input type="text" class="form-control " name="tablename" id="acnoi" value="<%= tname %>"
                                style="display: none;" hidden>
                            <input type="text" class="form-control " name="tableid" id="acnoi" value="<%= tid %>"
                                style="display: none;" hidden>
                            <input type="text" class="form-control " name="noc" id="acnoi" value="<%= tnoc %>"
                                style="display: none;" hidden>
                            <input type="text" class="form-control " name="pkey" id="acnoi" value="<%= tpkey %>"
                                style="display: none;" hidden>
                            <% tableheader.forEach((header, index)=> { %>
                                <td scope="row" class="tablecell">

                                    <% if(index==0) {%>
                                        <input type="text" class="form-control " name="primary_key"
                                            value="<%= header.Field %>" style="display: none;" hidden>
                                        <input type="text" class="<%= header.Field %>" name="primary_value"
                                            value="<%= table[header.Field] %>" style="display: none;" hidden>
                                        <% } %>
                                            <!-- <input type="text" class="<%= header.Field %>" name="<%= header.Field %>"
                                                id="acnoi" value="<%= table[header.Field] %>" disabled
                                                title="use edit button to edit."> -->
                                            <div>
                                                <%= table[header.Field]%>
                                            </div>

                                </td>
                                <% }) %>
                                    <td>
                                        <button type="submit"
                                            class=" edit btn btn-sm btn-success btn-block tablecell">Edit</button>
                                    </td>
                        </form>
                        </td>

                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div> 
        <% if(table.length==0) { %>
            <div class=" nodata container row d-flex justify-content-center">
                <div >
            No Data Found Please Add New Row
            </div>
        </div>
            <% } %>
            
    
        <div class="container">
            <div class="form-row justify-content-between">
                <form class="form-group  " action="/addnewrow"  method="POST">
                    <input type="text" class="form-control " name="tablename" id="acnoi" value="<%= tname %>"
                        style="display: none;" hidden>
                    <input type="text" class="form-control " name="tableid" id="acnoi" value="<%= tid %>"
                        style="display: none;" hidden>
                    <input type="text" class="form-control " name="noc" id="acnoi" value="<%= tnoc %>"
                        style="display: none;" hidden>
                    <input type="text" class="form-control " name="pkey" id="acnoi" value="<%= tpkey %>"
                        style="display: none;" hidden>
                    <button type="submit"  class=" my-table btn btn-sm btn-success btn-block">+Add New Row</button>
                </form>
                <form class="form-group" action="/filter" method="POST">
                    <input type="text" class="form-control " name="tablename" id="acnoi" value="<%= tname %>"
                        style="display: none;" hidden>
                    <input type="text" class="form-control " name="tableid" id="acnoi" value="<%= tid %>"
                        style="display: none;" hidden>
                    <input type="text" class="form-control " name="noc" id="acnoi" value="<%= tnoc %>"
                        style="display: none;" hidden>
                    <input type="text" class="form-control " name="pkey" id="acnoi" value="<%= tpkey %>"
                        style="display: none;" hidden>
                    <button type="submit"  class=" my-table btn btn-sm btn-success btn-block">Filter</button>
                </form>
                <form class="form-group" action="/deletetable" method="POST">
                    <input type="text" class="form-control " name="tablename" id="acnoi" value="<%= tname %>"
                        style="display: none;" hidden>
                    <input type="text" class="form-control " name="tableid" id="acnoi" value="<%= tid %>"
                        style="display: none;" hidden>
                    <input type="text" class="form-control " name="noc" id="acnoi" value="<%= tnoc %>"
                        style="display: none;" hidden>
                    <input type="text" class="form-control " name="pkey" id="acnoi" value="<%= tpkey %>"
                        style="display: none;" hidden>
                    <button type="submit"  class=" my-table btn btn-sm btn-danger btn-block">Delete Table</button>
                </form>
            </div>
        </div>

    </div>
    </div>
    <%- include ('partials/footer.ejs'); -%>
        </body>

        </html>